.left{
    background-color: #006595;

}
.icons{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 40px;
    margin-top: 50px;
}
.list{
    list-style: none;
    font-size: larger;
    
}
li{
    padding: 8px;
}
a{
  color:white;  
  text-decoration: none;
  
  
}
:hover {
    color: yellow;
}
p{
    color: white;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    font-size:40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
